#mapId {
  position: fixed;
  top: 0px;
  bottom: 250px;
  left: 0;
  right: 0;
  overflow: auto;
}

.pictureIcon img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid;
  border-color: GreenYellow;
  transition: transform .4s;
}

.pictureIcon img:hover {
  transform: scale(1.05);
  border-color: #FFC400;
}

#mapId .leaflet-popup-content-wrapper {
  background: darkgray;
  color: white;
  font-size: 12px;
  line-height: 12px;
  border-radius: 0px;
  padding: 1px;
}

#mapId .leaflet-popup-content {
  margin: 0px;
}

#mapId .leaflet-popup-tip {
  border-bottom-left-radius: 50px;
  background: darkgray;
}

.selectedPicture img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid;
  border-color: red;
}
