#picturePanel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 250px;
}

#buttonsPanel {
  float: left;
  width: 10%;
  height: 100%;
}

#pictureList {
  display: inline-block;
  width: 65%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

#pictureDetails {
  float: right;
  width: 25%;
  height: 100%;
}

.pictureDOM {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
  background-color: lightgrey;
}

.pictureDOM:nth-child(odd) {
  background-color: darkgrey;
}

.pictureDOM:hover {
  background-color: #FFC400;
}

.selectedImage {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: auto;
  background-color: red;
}

.selectedImage:nth-child(odd) {
  background-color: red;
}

.thumbnail {
  height: auto;
  width: auto;
  max-height: 70%;
  border-radius: 5%;
  margin: 10px;
  transition: transform .4s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.pictureInfo {
  float: bottom;
  font-size: 14px;
  text-align: center;
  width: 100%;
}

.pin {
  position: relative;
  top: -92%;
  right: -5%;
  border-radius: 50%;
  background-color: white;
  border: 6px solid red;
  width: 6px;
  height: 6px;
}

.pin::after {
  position: relative;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -27px;
  left: -5px;
  border: 8px solid transparent;
  border-top: 20px solid red;
}

label {
  font-size: 15px;
  line-height: 17px;
}

table {
  width: 100%;
}

td {
  overflow-x: scroll;
  overflow-y: hidden;
}

th {
  text-align: left;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 15px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
